<nav class="timeline">
    <ul class="artists">
        <h2>Artists:</h2>
        {% for author in site.authors %}
            <li>
            <a href="{{ author.url }}">{{ author.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul class="albums">
        <h2>Albums:</h2>
        {% for post in site.posts %}
            <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul class="background">
        <div class=""><img src="pictures\lucky-clear.png" alt="Lucky Logo"></div>
    </ul>
    
</nav>