
#plata {
    animation-timing-function: ease;
    width: 0;
    height: 0;
}
#lucky {
    animation-timing-function: ease-out;
    width: 276;
    height: 269;
}

@keyframes test
{
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
@keyframes test2
{
    0%   {background-color:red; left:0px; top:0px;}
    100% {background-color:blue; left:0px; top:200px;}
}
.ad {
    display: flex;
    align-items: center;
    align-content: center;
    overflow: hidden;
    position: relative;
    background-color: white;
    transition-timing-function: ease-in-out;
}
#plata {
    
}
#lucky {
    width: 150px;
    animation: 2s roty infinite linear;
}
#ad {
    margin: 1em;
    background: white;
    overflow: hidden;
    border-radius: .4em;
    box-shadow: inset 0 0 3em #999;
    width: 337px;
    height: 200px;
}
#ad a {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    animation: 1s fadein ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes roty {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}