body {
    max-width: 60em;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    background-color: #121315;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
nav {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
a {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    text-decoration-line: none;
}
