.valmynd{
    width: auto;
    background-color: #1D1E20;
    padding: 0.5em;
    font-family: comic sans-serif;
    color: #fff;
    div{
        
        margin: 0 auto;
        justify-content: space-between;
        div:first-child{
            padding-top: 19px;
            display: flex;
            text-align: left;
            img{
                padding-right: 10px;
                padding-bottom: 10px;
                height: 2.2em;
                width: 2.2em;
                @media screen and (max-width: 465px) {
                    height: 3em;
                    width: 3em;
                }
            }
            p{
                font-family: 'Righteous', cursive;
                font-size: 1.7em;
                margin: 0;
                padding-left: 2px;
                @media screen and (max-width: 465px) {
                    display: none;
                }
            } 
            
        }
        div:nth-child(2){
            text-align: right;
            a{
                text-decoration: none;
                font-size: 1.7em;
                justify-content: right;
                padding-right: 10px;
                color: #fff;
            }
            a:hover{
                color: #87C637;
            }
            .current {
                color: #1ED760;
            }
            span {
                padding: 7px;
            }
        }
    }
}
.dropbtn {
    display: none;
}
.dropdown-content {
    
}
.dropdown {
    list-style-type: none;
}
.listi {
    list-style-type: none;
    @media screen and (max-width: 780px) {
        width: 200px;
        background-color: #121315;
        a {
            display: block;
            color: #121315;
            padding: 8px 16px;
            text-decoration: none;
            
        }
        a:hover {
            background-color: #fff;
            color: #121315;
        }
    }
}

@media screen and (max-width: 1050px) {
    .dropbtn {
        display: block;
        background-color: #1D1E20;
        color: white;
        padding: 10px;
        font-size: 30px;
        border: none;
        cursor: pointer;
        @media screen and (max-width: 465px) {
            font-size: 45px;
        }
    }
    .dropdown {
        position: relative;
        // display: inline-block;
    }
    .dropdown-content {
        display: none;
        right: 10%;
        position: absolute;
        background-color: #1D1E20;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        
        padding: 12px 16px;
        text-decoration: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    
}
