.timeline{
    padding-left: 2em;
    text-align: left;
    ul{
        font-size: 1.3em;
    }
    a{
        text-decoration: none;
        line-height: 1em;
        color: #fff;
    }
    a:hover{
        color: #87C637;
        text-decoration: underline;
    }
    h2 {color: #87C637}
}