* {box-sizing: border-box}
body {
    background-color: #1E90FF;
    background: linear-gradient();
    color: black;
    font: 400 1em/1.5 "Open Sans", sans-serif; /*samsett skipun: weight height*/
}
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4.1fr)
}
.container {
    max-width: 60em;
    margin: 0 auto;
}
.beige, .beige2 {
    background-image: linear-gradient(to bottom, beige,#FFFFE0);
    padding: 1em;
}
.beige2 {
    height: 100vh;
    padding-top: 3em;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h1 {
    font-weight: 300;
}
header h1 {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    margin: 2em 0 1em 0; /*Top right bottom left*/
    padding: .2em;
    font-family: 'Ubuntu', sans-serif;
}
.topnav {
    margin-top: 6em;
    display: flex;
    justify-content: flex-end;
}
.topnav a {
    display: block;
    color: #ffff;
    text-decoration: none;
    padding: 0 0 0 0.2em;
}
.topnav :hover {
    text-decoration: underline;
}
.verkefni {
    color: wheat;
    display: flex;
    text-transform: uppercase;
    justify-content: flex-end;
    font-size: 1em;
    padding: 1em;
}
blockquote {
    background-color: #fff;
    opacity: 0.5;
    padding: 10px;
}


footer {
    color: #ffff;
    padding: 1em;
}
footer a {
    color: #ffff;
    text-decoration: none;
}
footer a:visited {
    color: wheat;
}
footer li {
    list-style-type: none;
    padding-bottom: .25em;
}
footer a:hover {
    text-decoration: underline;
}
.innermenu {
    display: flex;
    background-color: #1E90FF;
    justify-content: center;
    border-radius: 1em;
}
.innermenu a {
    color: #ffff;
    text-decoration: none;
    padding: .4em 1.2em;
    border-right: 1px solid #fff;
}
.innermenu :hover {
    text-decoration: underline;
    background-color: #fff;
    color: #1E90FF; 
}
.innermenu a:last-child {
    border: none;
}
.topbutt {
    background-color: #ffff;
    text-align: center;
    border-radius: 50%;
    color: rgb(78, 78, 216);
    font-size: 2.5em;
    display: block;
    position: fixed; /*relative, absolute*/
    bottom: 2em;
    right: 2em;
    width: 1.5em;
    padding: 0 .2em;
    text-decoration: none;
} 
.topbutt:hover, .topbutt:active {
    background-color: rgb(78, 78, 216);
    color: #ffff;
}
.copy {
    padding: 1em;
    color: #fff;
    
}
dt {
    color: wheat;
}

