html {
    background-image: url(https://www.atrafloor.com/app/uploads/2017/01/jelly-bean-vinyl-flooring-multicolour.jpg)
}
body {
    max-width: 60em;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "topnav"
        "content"
        "footer"
}
header {
    background-color: #581845;
    text-align: center;
    grid-area: header;
}
header h1 {
    margin: 0;
}
nav {
    background-color: #C70039;
}
main {
    
}
footer {
    background-color: #C70039;
    grid-area: footer;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
footer p {
    margin: 0;
}
.topnav {
    background-color: 0;
    padding: 0.5em;
    grid-area: topnav;
}
.topmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    padding: .5em 0;
    list-style-type: none;
}
.content {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "vinstri meira haegri midja";
}
/*dálkar í content*/
.midja {
    grid-area: midja;
    background-color: #FF5733;
}
.vinstri {
    grid-area: vinstri;
    background-color: #FFC300;
}
.haegri {
    grid-area: haegri;
    background-color: #FFC300;
}
.meira {
    grid-area: meira;
    background-color:#FF5733; 
}

p, h4 {
    padding: 0.5em 1em;
}
h4 {
    margin-bottom: 0;
}
p {
    margin-top: 0;
}

.topmenu a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}
.topmenu a:visited {
    color: rgb(231, 229, 229);
}
.topmenu a:hover, .topmenu a:active {
    background-color: none;
    text-decoration-line: underline
    
}
.topmenu a.virkur {
    color: red;
    background-color: bisque;
}
.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 2.5em;
}

.impact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1.5em;
}
.lokaord {
    background-color: white;
    border: solid black 1px;
}


