<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
</head>
<body>
    
    <nav class="valmynd">
        {% include navigation.html %}
    </nav>
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <main>
        <aside>
            {% include timeline.html %}
        </aside>
        <article class="mainarticle">
        {{ content }}
        </article>
    </main>
    
</body>
</html>